@use '/src/mainColor' as *;

.light-mode {
  .table {
    --table-color: black;
    --table-box-shadow: 0 0 1em #{mainColor(85%, .5)};
    --table-border: #{mainColor(90%)};
    --body-tr-back: #{mainColor(98%)};
    // --head-tr-back: repeating-linear-gradient(
    //   -45deg,
    //   #{mainColor(95%)},
    //   #{mainColor(95%)} 10px,
    //   #{mainColor(94%)} 10px,
    //   #{mainColor(94%)} 30px
    // );
    --head-tr-back:#{mainColor(94%)};
    --td-colored-hover-filter: brightness(1.05);
    
    tbody td.colored {
      background: hsl(var(--main-hs), 70%);
      filter: contrast(1.8) !important;
    }
  }
}
.dark-mode {
  .table {
    --table-color: #{mainColor(90%)};
    --table-box-shadow: 0 0 1em #{mainColor(10%, .5)};
    --table-border: #{mainColor(10%)};
    --body-tr-back: #{mainColor(15%)};
    // --head-tr-back: repeating-linear-gradient(
    //   -45deg,
    //   #{mainColor(14%)},
    //   #{mainColor(14%)} 10px,
    //   #{mainColor(13%)} 10px,
    //   #{mainColor(13%)} 30px
    // );
    --head-tr-back: #{mainColor(14%)};
    --td-colored-hover-filter: brightness(1.2);

    tbody td.colored {
      background: hsl(var(--main-hs), 44%);
    }
  }
}

.table {
  z-index: 0;
  margin: 1em auto;
  margin-bottom: 1em;
  color: var(--table-color);
  text-align: center;
  width: 95%;
  border-spacing: 0 0px;
  box-shadow: var(--table-box-shadow);
  border: 1px solid var(--table-border);
  --tr-br: .1em;
  --t-br: 1em;
  border-radius: var(--t-br);

  tr {
    :first-child {
      border-radius: 0 var(--tr-br) var(--tr-br) 0;
    }
    :last-child {
      border-radius: var(--tr-br) 0 0 var(--tr-br);
    }
  }
  
  td {
    padding: 1em;
  }

  thead {
    tr {
      position: sticky;
      top: 0;
      z-index: 1;
      background: var(--head-tr-back);

      &:first-child :first-child {
        border-radius: 0 var(--t-br) 0 0;
      }
      &:first-child :last-child {
        border-radius: var(--t-br) 0 0 0;
      }
    }
    td {
      font-weight: bold;
    }
  }

  tbody {
    tr {
      background: var(--body-tr-back);

      &:last-child :first-child {
        border-radius: 0 0 var(--t-br) 0;
      }
      &:last-child :last-child {
        border-radius: 0 0 0 var(--t-br);
      }

      &.clickable {
        transition: transform .5s var(--cubik), filter .2s var(--cubik);
      }
      
      &.clickable:hover, &.clickable:focus {
        outline: none;
        cursor: pointer;
        transform: scale(1.02);
        filter: var(--td-colored-hover-filter);
      }   
    }
  }
}

