@use '/src/mainColor' as *;

.light-mode {
  .picker-options {
    --option-back: #{mainColor(85%)};
  }
}
.dark-mode {
  .picker-options {
    --option-back: #{mainColor(15%)};
  }
}

.picker-options {
  text-align: center;
  margin: 1em 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .option {
    cursor: pointer;
    user-select: none;
    padding: .25em .5em;
    margin: .5em;
    border-radius: .5em;  
    background-color: var(--option-back);
    transition: filter .2s;

    &:hover {
      filter: brightness(1.05);
    }
  }
}