@use '/src/mainColor' as *;
@use '/src/mediaQuery' as *;

.light-mode {
  nav {
    --font-weight: bold;
    --btn-active-back: linear-gradient(0deg, #{mainColor(85%)}, #{mainColor(90%)});
    --btn-active-border: 1px solid #{mainColor(80%)};
    --btn-img-filter: var(--light-img-filter);
  }
}
.dark-mode {
  nav {
    --font-weight: normal;
    --btn-active-back: linear-gradient(0deg, #{mainColor(15%)}, #{mainColor(10%)});
    --btn-active-border: 1px solid #{mainColor(20%)};
    --btn-img-filter: brightness(0) invert(.7);
  }
}

nav {
  font-weight: var(--font-weight);
  height: var(--headerHeight);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  align-items: center;
  
  .button {
    width: 5em;
    height: var(--headerHeight);
    border-radius: 0 0 1em 1em;
    background-image: var(--header-back);
    overflow: hidden;
    transform-origin: top;
    transition: height .2s var(--cubik);
    --img-scale: 1;

    &:hover, &:focus-visible {
      z-index: 1;
      --img-scale: 1.1;
    }  
    
    &.active {
      --img-scale: 1.2 !important;
      --con-filter: contrast(2);
    }
    
    .con {
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--headerHeight);
      padding: .2em;
      filter: var(--con-filter);
      transition: filter .2s;

      img {
        filter: var(--btn-img-filter);
        height: 2em;
        width: 2em;
        transition: transform .2s var(--cubik);
        transform: scale(var(--img-scale));
      }
    }
  }
  
  @include for-tablet-and-phone {
    position: unset;
    transform: none;
    margin-left: .5em;
    max-width: 95vw;

    .button::after {
      display: none !important;
    }
  }
}


