@use '/src/mainColor' as *;
@use '/src/mediaQuery' as *;

@font-face {
  font-family: 'valera';
  src: url(../public/fonts/valera.ttf);
}

@include for-desktop {
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: mainColor(25%);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: mainColor(5%);
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
}

* {
  box-sizing: border-box;
  direction: rtl;
}

body {
  margin: 0;
  font-family: valera, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

[tool-bottom] {
  position: relative;
  overflow: visible !important;
}
[tool-bottom]::after {
  pointer-events: none;
  opacity: 0;
  content: attr(tool-bottom);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -10%);
  padding: .2em .5em;
  border-radius: .5em;
  background: #fff;
  color: #000;
  border: 1px solid #999;
  transition: opacity .2s, transform .2s;
}
[tool-bottom]:hover::after {
  transform: translate(-50%, 20%);
  opacity: 1;
}

[tool-top] {
  position: relative;
  overflow: visible !important;
}
[tool-top]::after {
  pointer-events: none;
  opacity: 0;
  content: attr(tool-top);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 10%);
  padding: .2em .5em;
  border-radius: .5em;
  background: #fff;
  color: #000;
  border: 1px solid #999;
  transition: opacity .2s, transform .2s;
}
[tool-top]:hover::after {
  transform: translate(-50%, -20%);
  opacity: 1;
}